<style>
    .icare-tab-manager{
        margin-top: -10px;
        position: fixed;
        display: inline-flex;
        background-color: #e2e4ea;
        height: 48px;
        width: 100%;
        padding-left: 12px;
    }

    .icare-tab{
        padding: 5px 5px 5px 5px;
        color: grey;
        background-color: transparent;
        height: 48px;
        max-width: 155px;
        display: flex;
        align-items: center;
        border: none;
        margin-right: 15px;
    }

    .icare-tab.active{
        border-top: 3px solid #e2e4ea;
        font-weight: 700;
        color: #008dda;
        border-bottom: 3px solid #008dda;
    }

    .icare-tab.mouseover{
        background-color: white;
    }

    .icare-tab.none{
        display: none;
    }

    .icare-tab-text{
        justify-content: start;
        max-width: 140px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 5px;
    }

</style>
<!-- <div class="icare-tab-manager" id="tab-manager">

</div>
<template id="tab-template">
    <button class="icare-tab">
        <span class="icare-tab-text">${item}</span>
        <i class="fa-solid fa-xmark tab-close-icon"></i>
    </button>
</template> -->

<script>
</script>