<nav class="navbar fixed-top" style="background-color: #008dda; height: 48px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">iCare+</a>
        <form role="search" class="d-flex">

            
            
            <div class="input-group mb-3">
                <span class="input-group-text" style="background-color: #029de9;" id="basic-addon1"><i class="fa fa-phone"></i></span>
                <input id="SR" name="SR" type="search" class="form-control me-2" style="border-radius: 15px; background-color: #029de9; font-size: 12px; border: 0; height: 30px;" placeholder="Full text Search for SR">
            </div>

            <div>
                <div style="height: 30px;">style="border-radius: 15px; background-color: #029de9; font-size: 12px; border: 0; height: 30px;"style="border-radius: 15px; background-color: #029de9; font-size: 12px; border: 0; height: 30px;"
                    <select class="form-select">
                        <option selected>SR</option>
                        <option>RFC</option>
                        <option>FKJDSAHF</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</nav> 

<!-- <div class="icare-header">
    <div class="icare-header-right">
        <div class="full-text-search-header">

        </div>
    </div>
</div> -->