<style>
  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  tbody td {
    font-weight: 500;
    color: #999999;
  }
</style>

<div class="text-center h-75 bg-primary m-4">
  <div class="row h-100">
    <div class="col-2 bg-white">
      <div class="table-responsive bg-white">
        <table class="table mb-0">
          <thead>
            <tr>
              <th scope="col">My SR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" style="color: #666666;">My SR( 1 )</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-10 bg-white ">
      <div class="row">
        <div class="d-grid gap-2 d-md-block m-2 text-start">
          <button type="button" class="btn btn-primary mb-1">Create SR</button> 
          <button type="button" class="btn btn-outline-primary">⤴ Refresh</button>
        </div>
   
      </div>
      <div class="row">
        <div class="table-responsive bg-white">
          <table class="table mb-0 table-bordered border-4">
            <thead>
              <tr>
                <th scope="col ">Mark</th>
                <th scope="col">SR No.</th>
                <th scope="col">Contact Name</th>
                <th scope="col">Problem Summary</th>
                <th scope="col">SR Status</th>
                <th scope="col">Process Days</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa-solid fa-flag" style="color: #d6d6d6;"></i></td>
                <th scope="row" style="color: #666666;"><a href="#" id="icare-sr-ref">12121212</a></th>
                <td>Jonh Doe</td>
                <td>MSC Issue</td>
                <td>Open</td>
                <td>1</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>

